<div class="flex-col content-center w-full text-center">
    <div class="text-lg font-bold">Your site may be too complex for our free service.</div>
    <div class="text-sm mt-1">We’re sorry that we weren’t able to transfer your site using our free service,<br />but you can contact our Migrations team and have them migrate your service<br/> for a fee if you like.</div>
    <a class="mt-4 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white" style="background-color: #196bde" href="https://www.bluehost.com/my-account/market-place">
        <span>Get a full-service Site Migration</span>
    </a>
</div>